# Prerequisite

## 라이브러리

In [78]:
import os
import numpy as np
import pandas as pd
# 과학적 표기법 끄기
pd.options.display.float_format = '{:.2f}'.format
from matplotlib import pyplot as plt

## 함수 정의

In [79]:
def dat_date(dat, dates):
    for k,v in dates.items():
        for dt in v:
            dat[dt] = pd.to_datetime(dat[dt], format=k)

def dat_type(dat, types):
    for k,v in types.items():
        dat[v] = dat[v].astype(k)

def clean_dat(dat, raw, dates=None, types=None, drop=None):
    try:
        dat == raw

        if dates:
            dat_date(dat, dates)
        if types:
            dat_type(dat, types)
        if drop:
            dat.drop(drop, axis=1, inplace=True)
    except:
        0

def check_bools(dat):
    dat_obj = [c for c in dat.columns if (dat[c].dtype == 'O')&(len(dat[c].unique())<10)]
    for c in dat_obj:
        if c == dat_obj[0]:
            print('-'*50)
            print('dtype: objects')
            print('-'*50)
        display(c, dat[c].value_counts(dropna=0).to_dict())

    dat_cate = [c for c in dat.columns if (dat[c].dtype == 'category')&(len(dat[c].unique())<10)]
    for c in dat_cate:
        if c == dat_cate[0]:
            print('-'*50)
            print('dtype: category')
            print('-'*50)
        display(c, dat[c].value_counts(dropna=0).to_dict())

    dat_bool = [c for c in dat.columns if dat[c].dtype == bool]
    for c in dat_bool:
        if c == dat_bool[0]:
            print('-'*50)
            print('dtype: bool')
            print('-'*50)
        display(c, dat[c].value_counts(dropna=0).to_dict())

## 데이터 불러오기

In [80]:
# path = '.' # data_cleansing.ipynb 파일이 위치한 경로를 입력
# os.chdir(path)
print(os.getcwd()) # 현재 작업디렉토리가 파일이 위치한 디렉토리인지 확인, 디렉토리가 맞지 않으면 os.chdir로 디렉토리 변경

C:\Users\gfddf\Desktop\파이널 프로젝트\real_final

In [81]:
folder = 'data' # 데이터가 저장되어 있는 폴더명
dats = ['240611-241210_review.csv', '241211-250611_review.csv','리코맨즈 프로모션 내용_202506.xlsx', '무가_협찬.csv', '블로그체험단.csv', '상품데이터_250611.csv', '유가_협찬(오늘룩).csv', '주문데이터_20240611-20241210(가명처리 o).csv', '주문데이터_20241211-20250611(가명처리 o).csv', '회원데이터~20250611(가명처리o).csv']
names = ['reviews_24h2', 'reviews_25h1', 'promo', 'sponsor_free', 'bloggers', 'products', 'sponsor_paid', 'orders_24h2', 'orders_25h1', 'users']
ddict = dict(zip(names,dats))

# 테이블명과 데이터 파일명이 잘 매칭되는지 확인
ddict

{'reviews_24h2': '240611-241210_review.csv',
 'reviews_25h1': '241211-250611_review.csv',
 'promo': '리코맨즈 프로모션 내용_202506.xlsx',
 'sponsor_free': '무가_협찬.csv',
 'bloggers': '블로그체험단.csv',
 'products': '상품데이터_250611.csv',
 'sponsor_paid': '유가_협찬(오늘룩).csv',
 'orders_24h2': '주문데이터_20240611-20241210(가명처리 o).csv',
 'orders_25h1': '주문데이터_20241211-20250611(가명처리 o).csv',
 'users': '회원데이터~20250611(가명처리o).csv'}

In [82]:
for n, d in ddict.items():
    dpath = f"{folder}/{d}"
    # print(f"{n}: {d}")
    if d.endswith('.csv'):
        globals()[f"{n}"] = pd.read_csv(dpath)
    elif d.endswith('.xlsx'):
        globals()[f"{n}"] = pd.read_excel(dpath)

for name in ['orders', 'reviews']:
    globals()[name] = pd.concat([globals()[f"{name}_24h2"], globals()[f"{name}_25h1"]]).reset_index()

tables = ['users', 'orders', 'products', 'reviews', 'promo', 'sponsor_free', 'sponsor_paid', 'bloggers']
data = [globals()[name] for name in tables]
for name in tables:
    globals()[f"{name}_raw"] = globals()[name].copy()
raw_data = [globals()[f"{name}_raw"] for name in tables]

print(tables)

['users', 'orders', 'products', 'reviews', 'promo', 'sponsor_free', 'sponsor_paid', 'bloggers']

---

#  데이터 정리

## users

In [83]:
users = users_raw.copy()
dat = users
display(dat.head())
dat.info()

,아이디,이름,휴대폰번호,회원구분,회원등급,회원 가입일,회원 가입경로,최종주문일,누적주문건수,총 실주문건수,총구매금액,실결제금액,총적립금,사용가능 적립금,총 사용 적립금,최종접속일,총 방문횟수(1년 내),주소1
0,keepgrow,#*우,010-****-0000,개인,일반회원,2022-04-28,PC,2022-04-28 13:54:23,2,0,37900,0.00,0.00,0.00,0.00,2022-04-28 13:55:45,0,NaN
1,2225322623@k,김*민,010-****-0967,개인,일반회원,2022-05-02,PC,NaN,0,0,0,0.00,0.00,0.00,0.00,2024-11-04 11:18:23,4,NaN
2,2227223106@k,김*은,010-****-8306,개인,일반회원,2022-05-03,모바일,NaN,0,0,0,0.00,0.00,0.00,0.00,2022-05-03 17:57:41,0,NaN
3,2227237644@k,조*난,010-****-8916,개인,일반회원,2022-05-03,모바일,NaN,0,0,0,0.00,0.00,0.00,0.00,2022-05-03 18:10:50,0,NaN
4,swh773,선*혁,010-****-9999,개인,일반회원,2022-05-04,모바일,2022-05-04 01:25:00,1,1,59800,56800.00,598.00,598.00,0.00,2022-05-06 18:55:21,0,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8104 entries, 0 to 8103
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   아이디           8104 non-null   object
 1   이름            8104 non-null   object
 2   휴대폰번호         8031 non-null   object
 3   회원구분          8104 non-null   object
 4   회원등급          8104 non-null   object
 5   회원 가입일        8104 non-null   object
 6   회원 가입경로       8104 non-null   object
 7   최종주문일         5189 non-null   object
 8   누적주문건수        8104 non-null   int64
 9   총 실주문건수       8104 non-null   int64
 10  총구매금액         8104 non-null   int64
 11  실결제금액         8104 non-null   float64
 12  총적립금          8104 non-null   float64
 13  사용가능 적립금      8104 non-null   float64
 14  총 사용 적립금      8104 non-null   float64
 15  최종접속일         8104 non-null   object
 16  총 방문횟수(1년 내)  8104 non-null   int64
 17  주소1           55 non-null     object
dtypes: float64(4), int64(4), object(10)
memory usage: 1.1+ MB

주문한 적이 없으면(누적주문건수가 0) 최종주문일이 null  
누적주문건수가 존재하지만 실주문건수가 0인 경우, 주문 데이터 X

In [84]:
date_dict = {
    '%Y-%m-%d':['회원 가입일'],
    '%Y-%m-%d %H:%M:%S':['최종주문일','최종접속일']
}
type_dict = {
    'category':['아이디','회원구분','회원등급','회원 가입경로']
}
drop_ls = ['이름','휴대폰번호','회원구분']
clean_dat(dat, users_raw, dates=date_dict, types=type_dict, drop=drop_ls)

if '주소1' in dat.columns: # 주소는 입력 자체가 적으므로 입력 여부만 남김
    dat['주소 여부'] = ~dat['주소1'].isnull()
    dat.drop('주소1', axis=1, inplace=True)

In [85]:
check_bools(dat)

--------------------------------------------------
dtype: category
--------------------------------------------------

'회원등급'

{'일반회원': 7986, 'SILVER': 107, 'GOLD': 7, 'VIP': 3, 'VVIP': 1}

'회원 가입경로'

{'모바일': 7603, 'PC': 501}

--------------------------------------------------
dtype: bool
--------------------------------------------------

'주소 여부'

{False: 8049, True: 55}

In [86]:
# 이상치 삭제 [심명성님 개인 결제창]
idx = dat[dat['아이디'] == '3934758155@k'].index
dat.drop(idx, inplace=True)

In [87]:
rename_cols = {
    '아이디': 'customer_id',
    '회원등급': 'customer_membership_level',
    '회원 가입일': 'customer_signup_date',
    '회원 가입경로': 'signup_channel',
    '최종주문일': 'last_order_date',
    '누적주문건수': 'total_order_count',
    '총 실주문건수': 'actual_order_count',
    '총구매금액': 'total_purchase_amount',
    '실결제금액': 'actual_paid_amount',
    '총적립금': 'total_mileage',
    '사용가능 적립금': 'available_mileage',
    '총 사용 적립금': 'used_mileage',
    '최종접속일': 'last_login_date',
    '총 방문횟수(1년 내)': 'visit_count_annual',
    '주소 여부': 'has_address_info'
}
dat.rename(columns=rename_cols, inplace=True)
dat.columns

Index(['customer_id', 'customer_membership_level', 'customer_signup_date',
       'signup_channel', 'last_order_date', 'total_order_count',
       'actual_order_count', 'total_purchase_amount', 'actual_paid_amount',
       'total_mileage', 'available_mileage', 'used_mileage', 'last_login_date',
       'visit_count_annual', 'has_address_info'],
      dtype='object')

### output

In [88]:
dat = users
display(dat.head())
dat.info()

,customer_id,customer_membership_level,customer_signup_date,signup_channel,last_order_date,total_order_count,actual_order_count,total_purchase_amount,actual_paid_amount,total_mileage,available_mileage,used_mileage,last_login_date,visit_count_annual,has_address_info
0,keepgrow,일반회원,2022-04-28,PC,2022-04-28 13:54:23,2,0,37900,0.00,0.00,0.00,0.00,2022-04-28 13:55:45,0,False
1,2225322623@k,일반회원,2022-05-02,PC,NaT,0,0,0,0.00,0.00,0.00,0.00,2024-11-04 11:18:23,4,False
2,2227223106@k,일반회원,2022-05-03,모바일,NaT,0,0,0,0.00,0.00,0.00,0.00,2022-05-03 17:57:41,0,False
3,2227237644@k,일반회원,2022-05-03,모바일,NaT,0,0,0,0.00,0.00,0.00,0.00,2022-05-03 18:10:50,0,False
4,swh773,일반회원,2022-05-04,모바일,2022-05-04 01:25:00,1,1,59800,56800.00,598.00,598.00,0.00,2022-05-06 18:55:21,0,False

<class 'pandas.core.frame.DataFrame'>
Index: 8103 entries, 0 to 8103
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer_id                8103 non-null   category
 1   customer_membership_level  8103 non-null   category
 2   customer_signup_date       8103 non-null   datetime64[ns]
 3   signup_channel             8103 non-null   category
 4   last_order_date            5188 non-null   datetime64[ns]
 5   total_order_count          8103 non-null   int64
 6   actual_order_count         8103 non-null   int64
 7   total_purchase_amount      8103 non-null   int64
 8   actual_paid_amount         8103 non-null   float64
 9   total_mileage              8103 non-null   float64
 10  available_mileage          8103 non-null   float64
 11  used_mileage               8103 non-null   float64
 12  last_login_date            8103 non-null   datetime64[ns]
 13  visit_count_annual         8103 non-null   int64
 14  has_address_info           8103 non-null   bool
dtypes: bool(1), category(3), datetime64[ns](3), float64(4), int64(4)
memory usage: 1.1 MB

---

## orders

In [89]:
orders = orders_raw.copy()
dat = orders
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9583 entries, 0 to 9582
Data columns (total 41 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   9583 non-null   int64
 1   주문일시                    9583 non-null   object
 2   주문자ID                   3802 non-null   object
 3   주문 시 회원등급               3802 non-null   object
 4   총 주문금액                  9580 non-null   float64
 5   총 결제금액                  9583 non-null   float64
 6   총 실결제금액(최초정보) (KRW)     9583 non-null   int64
 7   상품구매금액                  9583 non-null   float64
 8   결제구분                    9583 non-null   object
 9   실제 환불금액                 9583 non-null   float64
 10  총 실제 환불금액               9583 non-null   float64
 11  환불접수일                   231 non-null    object
 12  환불완료일                   231 non-null    object
 13  상품옵션                    9473 non-null   object
 14  주문상품명(옵션포함)             9583 non-null   object
 15  주문번호                    9583 non-null   object
 16  품목별 주문번호                9583 non-null   object
 17  주문상품명(기본)               9583 non-null   object
 18  주문상품명                   9583 non-null   object
 19  수량                      9583 non-null   int64
 20  주문자명                    9582 non-null   object
 21  주문자 가입일                 3802 non-null   object
 22  주문자 주소                  9582 non-null   object
 23  주문자 상세 주소               9548 non-null   object
 24  주문자우편번호                 9582 non-null   float64
 25  사용한 쿠폰명                 2485 non-null   object
 26  상품 쿠폰 할인금액              2485 non-null   float64
 27  주문서 쿠폰 할인금액             2485 non-null   float64
 28  결제수단                    9583 non-null   object
 29  결제업체                    3567 non-null   object
 30  총 배송비(KRW) (전체 품목에 표시)  9583 non-null   int64
 31  수령인 전화번호                9287 non-null   object
 32  주문자 전화번호                9292 non-null   object
 33  주문경로                    9583 non-null   object
 34  주문경로(PC/모바일)            9583 non-null   object
 35  교환신청 사유                 108 non-null    object
 36  반품신청 사유                 101 non-null    object
 37  반품접수 구분                 54 non-null     object
 38  결제일시(입금확인일)             9451 non-null   object
 39  결제정보                    23 non-null     object
 40  결제안내                    9583 non-null   object
dtypes: float64(8), int64(4), object(29)
memory usage: 3.0+ MB

In [90]:
date_dict = {
    '%Y-%m-%d %H:%M:%S':['주문일시', '환불접수일', '환불완료일', '결제일시(입금확인일)'],
    '%Y-%m-%d':['주문자 가입일']
}
type_dict = {
    'category':['주문자ID','주문 시 회원등급','주문경로','주문경로(PC/모바일)','반품접수 구분','사용한 쿠폰명']
}
drop_ls = ['주문상품명(기본)', '결제정보', '결제안내', '수령인 전화번호', '주문자명', '결제업체', '상품 쿠폰 할인금액']
clean_dat(dat, orders_raw, date_dict, type_dict, drop_ls)

In [91]:
if '결제구분' in dat.columns: # 결제구분이 'F'인 경우 취소 건이므로 컬럼명 변경
    dat['canceled'] =  dat['결제구분'] == 'F'
    dat.drop(['결제구분'], axis=1, inplace=True)

In [92]:
if '결제수단' in dat.columns: # 쿠폰과 적립금 사용은 별도의 boolean 컬럼으로 관리
    dat['mileage_use'] = dat['결제수단'].str.contains('적립금')
    dat['coupon_use'] = dat['결제수단'].str.contains('쿠폰')
    dat['payment_method'] = dat['결제수단'].str.replace('적립금','').str.replace('쿠폰','').str.strip(',')
    dat['payment_method'] = dat['payment_method'].apply(lambda x:'적립금' if x == '' else x) # 적립금만 사용한 경우
    dat['payment_method'] = dat['payment_method'].astype('category')
    dat.drop('결제수단', axis=1, inplace=True)
dat['payment_method'].unique()

['신용카드', '무통장입금', '선불금', '계좌이체', '휴대폰', '가상계좌', '신용카드,무통장입금', '적립금']
Categories (8, object): ['가상계좌', '계좌이체', '무통장입금', '선불금', '신용카드', '신용카드,무통장입금', '적립금', '휴대폰']

In [93]:
# 주영님이 만드신 영문 컬럼명으로 변경
rename_cols = {
    '주문일시':'order_datetime',
    '주문자ID':'customer_id',
    '주문 시 회원등급':'customer_membership_level',
    '총 주문금액':'order_total_amount',
    '총 결제금액':'order_paid_amount',
    '총 실결제금액(최초정보) (KRW)':'order_actual_amount_initial',
    '상품구매금액':'product_purchase_amount',
    '결제구분':'payment_type',
    '실제 환불금액':'refund_amount',
    '총 실제 환불금액':'refund_total_amount',
    '환불접수일':'refund_request_date',
    '환불완료일':'refund_complete_date',
    '상품옵션':'product_option',
    '주문상품명(옵션포함)':'product_name_with_option',
    '주문번호':'order_number',
    '품목별 주문번호':'order_item_number',
    '주문상품명(기본)':'product_name_base',
    '주문상품명':'product_name',
    '수량':'quantity',
    '주문자명':'customer_name',
    '주문자 가입일':'customer_signup_date',
    '주문자 주소':'customer_address',
    '주문자 상세 주소':'customer_address_detail',
    '주문자우편번호':'customer_postal_code',
    '사용한 쿠폰명':'coupon_name_used',
    '상품 쿠폰 할인금액':'product_coupon_discount_amount',
    '주문서 쿠폰 할인금액':'order_coupon_discount_amount',
    '결제수단':'payment_method',
    '결제업체':'payment_provider',
    '총 배송비(KRW) (전체 품목에 표시)':'shipping_fee_total',
    '수령인 전화번호':'recipient_phone',
    '주문자 전화번호':'buyer_phone',
    '주문경로':'order_channel',
    '주문경로(PC/모바일)':'order_platform',
    '교환신청 사유':'exchange_request_reason',
    '반품신청 사유':'refund_reason',
    '반품접수 구분':'refund_type',
    '결제일시(입금확인일)':'payment_datetime',
    '결제정보':'payment_info',
    '결제안내':'payment_notice'
}
dat.rename(columns=rename_cols, inplace=True)
dat.columns

Index(['index', 'order_datetime', 'customer_id', 'customer_membership_level',
       'order_total_amount', 'order_paid_amount',
       'order_actual_amount_initial', 'product_purchase_amount',
       'refund_amount', 'refund_total_amount', 'refund_request_date',
       'refund_complete_date', 'product_option', 'product_name_with_option',
       'order_number', 'order_item_number', 'product_name', 'quantity',
       'customer_signup_date', 'customer_address', 'customer_address_detail',
       'customer_postal_code', 'coupon_name_used',
       'order_coupon_discount_amount', 'shipping_fee_total', 'buyer_phone',
       'order_channel', 'order_platform', 'exchange_request_reason',
       'refund_reason', 'refund_type', 'payment_datetime', 'canceled',
       'mileage_use', 'coupon_use', 'payment_method'],
      dtype='object')

In [94]:
# 컬럼 순서 변경
cols = dat.columns.tolist()
new_order = ['product_purchase_amount', 'order_total_amount', 'order_actual_amount_initial', 'order_paid_amount']

cols_reordered = [col for col in cols if col not in new_order]
insert_index = min([cols.index(col) for col in new_order])
for i, col in enumerate(new_order):
    cols_reordered.insert(insert_index + i, col)

dat = orders = dat[cols_reordered]

In [95]:
# 이상치 삭제 [심명성님 개인 결제창]
idx = dat[dat['customer_id'] == '3934758155@k'].index
dat.drop(idx, inplace=True)

In [96]:
dat['coupon_name_used'] = dat['coupon_name_used'].str.replace('회원 가입 쿠폰', '회원가입 쿠폰')
dat['signup_coupon_used'] = dat['coupon_name_used'].apply(
    lambda x: '회원가입 쿠폰' in x if pd.notnull(x) else False
)
dat['coupon_name_used_etc'] = dat['coupon_name_used'].apply(
    lambda x: ','.join([c for c in x.split(',') if c.strip() != '회원가입 쿠폰']) if pd.notnull(x) else np.nan
)
dat['coupon_name_used_etc'] = dat['coupon_name_used_etc'].replace('', np.nan)

In [97]:
dat['coupon_name_used_etc'].unique()

array([nan, '특별 할인 쿠폰', 'VIP 특별 할인 쿠폰', '6월 10% 할인 쿠폰',
       '[특별쿠폰]6월 10% 할인 쿠폰'], dtype=object)

In [98]:
check_bools(dat)

--------------------------------------------------
dtype: objects
--------------------------------------------------

'coupon_name_used'

{nan: 7097,
 '회원가입 쿠폰': 2341,
 '회원가입 쿠폰,6월 10% 할인 쿠폰': 96,
 '6월 10% 할인 쿠폰': 25,
 '특별 할인 쿠폰': 13,
 '회원가입 쿠폰,[특별쿠폰]6월 10% 할인 쿠폰': 6,
 '[특별쿠폰]6월 10% 할인 쿠폰': 3,
 '회원가입 쿠폰,VIP 특별 할인 쿠폰': 1}

'coupon_name_used_etc'

{nan: 9438,
 '6월 10% 할인 쿠폰': 121,
 '특별 할인 쿠폰': 13,
 '[특별쿠폰]6월 10% 할인 쿠폰': 9,
 'VIP 특별 할인 쿠폰': 1}

--------------------------------------------------
dtype: category
--------------------------------------------------

'customer_membership_level'

{nan: 5781, '일반회원': 3706, 'SILVER': 67, 'GOLD': 24, 'VIP': 4}

'order_channel'

{'네이버 페이': 4604, '모바일웹': 4079, '톡체크아웃': 661, 'PC쇼핑몰': 238}

'order_platform'

{'모바일': 8510, 'PC': 1072}

'refund_type'

{nan: 9528, '고객변심': 44, '기타': 7, '상품불량': 3}

'payment_method'

{'신용카드': 6906,
 '선불금': 1388,
 '무통장입금': 806,
 '계좌이체': 305,
 '휴대폰': 126,
 '가상계좌': 30,
 '적립금': 15,
 '신용카드,무통장입금': 6}

--------------------------------------------------
dtype: bool
--------------------------------------------------

'canceled'

{False: 9450, True: 132}

'mileage_use'

{False: 9207, True: 375}

'coupon_use'

{False: 7124, True: 2458}

'signup_coupon_used'

{False: 7138, True: 2444}

### output

In [99]:
dat = orders
display(dat.head())
dat.info()

,index,order_datetime,customer_id,customer_membership_level,product_purchase_amount,order_total_amount,order_actual_amount_initial,order_paid_amount,refund_amount,refund_total_amount,...,exchange_request_reason,refund_reason,refund_type,payment_datetime,canceled,mileage_use,coupon_use,payment_method,signup_coupon_used,coupon_name_used_etc
0,0,2024-06-11 00:38:21,NaN,NaN,42000.00,45000.00,45000,45000.00,0.00,0.00,...,NaN,NaN,NaN,2024-06-11 00:35:03,False,False,False,신용카드,False,NaN
1,1,2024-06-11 03:51:35,yoonseo,일반회원,32000.00,35000.00,32000,32000.00,0.00,0.00,...,NaN,NaN,NaN,2024-06-11 17:52:34,False,False,True,무통장입금,True,NaN
2,2,2024-06-11 06:05:01,NaN,NaN,38000.00,41000.00,41000,41000.00,0.00,0.00,...,NaN,NaN,NaN,2024-06-11 06:04:56,False,False,False,신용카드,False,NaN
3,3,2024-06-11 10:11:01,NaN,NaN,42000.00,45000.00,45000,45000.00,0.00,0.00,...,NaN,NaN,NaN,2024-06-11 10:10:31,False,False,False,신용카드,False,NaN
4,4,2024-06-11 10:19:10,NaN,NaN,49000.00,52000.00,52000,52000.00,0.00,0.00,...,NaN,안녕하세요. 제품 잘 받었읍니다. 그런데 제품 이여줌 자석이 약했어 사용중 분실이 ...,NaN,2024-06-11 10:14:42,False,False,False,신용카드,False,NaN

<class 'pandas.core.frame.DataFrame'>
Index: 9582 entries, 0 to 9582
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   index                         9582 non-null   int64
 1   order_datetime                9582 non-null   datetime64[ns]
 2   customer_id                   3801 non-null   category
 3   customer_membership_level     3801 non-null   category
 4   product_purchase_amount       9582 non-null   float64
 5   order_total_amount            9579 non-null   float64
 6   order_actual_amount_initial   9582 non-null   int64
 7   order_paid_amount             9582 non-null   float64
 8   refund_amount                 9582 non-null   float64
 9   refund_total_amount           9582 non-null   float64
 10  refund_request_date           231 non-null    datetime64[ns]
 11  refund_complete_date          231 non-null    datetime64[ns]
 12  product_option                9473 non-null   object
 13  product_name_with_option      9582 non-null   object
 14  order_number                  9582 non-null   object
 15  order_item_number             9582 non-null   object
 16  product_name                  9582 non-null   object
 17  quantity                      9582 non-null   int64
 18  customer_signup_date          3801 non-null   datetime64[ns]
 19  customer_address              9581 non-null   object
 20  customer_address_detail       9548 non-null   object
 21  customer_postal_code          9581 non-null   float64
 22  coupon_name_used              2485 non-null   object
 23  order_coupon_discount_amount  2485 non-null   float64
 24  shipping_fee_total            9582 non-null   int64
 25  buyer_phone                   9291 non-null   object
 26  order_channel                 9582 non-null   category
 27  order_platform                9582 non-null   category
 28  exchange_request_reason       108 non-null    object
 29  refund_reason                 101 non-null    object
 30  refund_type                   54 non-null     category
 31  payment_datetime              9450 non-null   datetime64[ns]
 32  canceled                      9582 non-null   bool
 33  mileage_use                   9582 non-null   bool
 34  coupon_use                    9582 non-null   bool
 35  payment_method                9582 non-null   category
 36  signup_coupon_used            9582 non-null   bool
 37  coupon_name_used_etc          144 non-null    object
dtypes: bool(4), category(6), datetime64[ns](5), float64(7), int64(4), object(12)
memory usage: 2.3+ MB

---

## products

In [100]:
products = products_raw.copy()
dat = products
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   상품등록일    150 non-null    object
 1   상품코드     150 non-null    object
 2   상품분류 번호  150 non-null    object
 3   상품명      150 non-null    object
 4   판매가      150 non-null    float64
 5   옵션사용     150 non-null    object
 6   옵션입력     136 non-null    object
 7   장바구니수    150 non-null    int64
 8   결제수      150 non-null    int64
 9   진열상태     150 non-null    object
 10  상품번호     150 non-null    int64
 11  판매상태     150 non-null    object
dtypes: float64(1), int64(3), object(8)
memory usage: 14.2+ KB

In [101]:
date_dict = {
    '%Y-%m-%d':['상품등록일']
}
type_dict = {
    'category':['상품코드','상품번호'],
    'int':['판매가']
}
clean_dat(dat, products_raw, dates=date_dict, types=type_dict)

In [102]:
if '상품분류 번호' in dat.columns: # 상품 분류번호는 더미코딩, 나중에 컬럼명 변경할 것
    cate_num = []
    for num in dat['상품분류 번호'].unique():
        for n in num.split('|'):
            if n not in cate_num:
                cate_num.append(n)
    dat[cate_num] = False
    for num in cate_num:
        dat[num] = dat['상품분류 번호'].str.contains(num)
    dat.drop('상품분류 번호', axis=1, inplace=True)

In [103]:
# display(dat[['옵션사용','진열상태','판매상태']].head())
if dat['옵션사용'].dtype != bool:
    for b in ['옵션사용','진열상태','판매상태']:
        dat[b] = dat[b] == 'Y'
    # display(dat[['옵션사용','진열상태','판매상태']].head())

In [104]:
rename_cols = {
    '상품등록일': 'product_added_date',
    '상품코드': 'product_code',
    '상품명': 'product_name',
    '판매가': 'price',
    '옵션사용': 'option_enabled',
    '옵션입력': 'option_value',
    '장바구니수': 'cart_count',
    '결제수': 'purchase_count',
    '진열상태': 'is_displayed',
    '상품번호': 'product_id',
    '판매상태': 'is_on_sale'
}
dat.rename(columns=rename_cols, inplace=True)
dat.columns

Index(['product_added_date', 'product_code', 'product_name', 'price',
       'option_enabled', 'option_value', 'cart_count', 'purchase_count',
       'is_displayed', 'product_id', 'is_on_sale', '42', '149', '193', '178',
       '189', '154', '160', '148', '133', '155'],
      dtype='object')

### output

In [105]:
dat = products
display(dat.head())
dat.info()

,product_added_date,product_code,product_name,price,option_enabled,option_value,cart_count,purchase_count,is_displayed,product_id,...,42,149,193,178,189,154,160,148,133,155
0,2025-06-05,P0000CNM,자마노 라엘스톤 팔찌,41000,True,팔찌 사이즈{XS|S|M|L|XL|맞춤제작(문의하기 또는 배송메세지에 입력)},8,2,True,1702,...,True,True,False,False,False,False,False,False,False,False
1,2025-06-04,P0000CNL,자마노 구스토스톤 팔찌,42000,True,팔찌 사이즈{XS|S|M|L|XL|맞춤제작(문의하기 또는 배송메세지에 입력)},12,4,True,1701,...,True,True,False,False,False,False,False,False,False,False
2,2025-06-04,P0000CNK,화이트쉘 클레어스톤 팔찌,45000,True,팔찌 사이즈{XS|S|M|L|XL|맞춤제작(문의하기 또는 배송메세지에 입력)},11,4,True,1700,...,True,True,False,False,False,False,False,False,False,False
3,2025-06-04,P0000CNJ,아쿠아마린 구스토스톤 팔찌,46000,True,팔찌 사이즈{XS|S|M|L|XL|맞춤제작(문의하기 또는 배송메세지에 입력)},10,3,True,1699,...,True,True,False,False,False,False,False,False,False,False
4,2025-06-04,P0000CNI,아벤츄린 프레체스톤 팔찌,42000,True,팔찌 사이즈{XS|S|M|L|XL|맞춤제작(문의하기 또는 배송메세지에 입력)},5,1,True,1698,...,True,True,False,False,False,False,False,False,False,False

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_added_date  150 non-null    datetime64[ns]
 1   product_code        150 non-null    category
 2   product_name        150 non-null    object
 3   price               150 non-null    int32
 4   option_enabled      150 non-null    bool
 5   option_value        136 non-null    object
 6   cart_count          150 non-null    int64
 7   purchase_count      150 non-null    int64
 8   is_displayed        150 non-null    bool
 9   product_id          150 non-null    category
 10  is_on_sale          150 non-null    bool
 11  42                  150 non-null    bool
 12  149                 150 non-null    bool
 13  193                 150 non-null    bool
 14  178                 150 non-null    bool
 15  189                 150 non-null    bool
 16  154                 150 non-null    bool
 17  160                 150 non-null    bool
 18  148                 150 non-null    bool
 19  133                 150 non-null    bool
 20  155                 150 non-null    bool
dtypes: bool(13), category(2), datetime64[ns](1), int32(1), int64(2), object(2)
memory usage: 19.5+ KB

---

## reviews (미작업)

In [106]:
reviews = reviews_raw.copy()
dat = reviews
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2590 entries, 0 to 2589
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     2590 non-null   int64
 1   리뷰번호      2590 non-null   int64
 2   리뷰작성일시    2590 non-null   object
 3   작성자명      2590 non-null   object
 4   작성자ID     1368 non-null   object
 5   작성자종류     2590 non-null   object
 6   주문번호      2096 non-null   object
 7   리뷰평점      2590 non-null   int64
 8   상품명       2590 non-null   object
 9   상품코드      2590 non-null   object
 10  리뷰내용      2590 non-null   object
 11  지급완료적립금액  2590 non-null   int64
 12  구매옵션      2406 non-null   object
 13  작성플랫폼     2590 non-null   object
 14  빠른리뷰      1484 non-null   object
 15  텍스트리뷰     1484 non-null   object
 16  포토리뷰      1484 non-null   object
 17  동영상리뷰     1484 non-null   object
 18  설문리뷰      1484 non-null   object
 19  SNS리뷰     1484 non-null   object
dtypes: int64(4), object(16)
memory usage: 404.8+ KB

In [107]:
dat[dat['빠른리뷰'].isnull()]

,index,리뷰번호,리뷰작성일시,작성자명,작성자ID,작성자종류,주문번호,리뷰평점,상품명,상품코드,리뷰내용,지급완료적립금액,구매옵션,작성플랫폼,빠른리뷰,텍스트리뷰,포토리뷰,동영상리뷰,설문리뷰,SNS리뷰
0,0,6219,24-06-11 19:05,엄기봉,NaN,NPAY 비회원,20240605-0000641-01,5,호안오닉스 가디언스톤,P0000CBM,만족할 만큼 좋은 상품이에요🍀 다른 분들에게도 꼭 추천하고 싶어요!! 감사합니다.,300,M,알파리뷰,NaN,NaN,NaN,NaN,NaN,NaN
1,1,6220,24-06-11 19:10,지훈,NaN,NPAY 비회원,20240604-0000149-01,5,호안오닉스 팬텀골드,P0000BWS,여친하고 커플로 하다 여친께 끊어져서 새로 구입했습니다 여친이 좋아했던 물건이라,1100,S,알파리뷰,NaN,NaN,NaN,NaN,NaN,NaN
2,2,6221,24-06-11 19:57,김호철,NaN,NPAY 비회원,20240604-0000695-01,5,호안오닉스 팬텀골드,P0000BWS,만족할 만큼 좋은 상품이에요👍 다른 분들에게도 꼭 추천하고 싶어요!! 감사합니다.,800,L,알파리뷰,NaN,NaN,NaN,NaN,NaN,NaN
3,3,6222,24-06-11 21:12,이혜원,3494307987@k,회원,20240523-0000230-03,5,호안오닉스 팬텀골드,P0000BWS,디자인이 예뻐서 구매했어요!,300,L,알파리뷰,NaN,NaN,NaN,NaN,NaN,NaN
4,4,6223,24-06-11 21:12,이혜원,3494307987@k,회원,20240523-0000230-01,5,쇼핑백,P0000BVU,여기저기 무난하게 잘 사용할 것 같아요! 🙂,0,size: 13.5 x 15 x 9(cm),알파리뷰,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1101,1101,7318,24-12-09 20:48,유호식,3821296588@k,회원,20241205-0000396-01,5,아이아게이트 디오스톤,P0000BGY,"카네스톤 구매후 맘에들어서 디오스톤 추가구매함.\n또 한번, 대만족 입니다.",1100,주문제작 (상담하기 또는 배송 메시지에 남겨주세요.),알파리뷰,NaN,NaN,NaN,NaN,NaN,NaN
1102,1102,7319,24-11-22 03:24,네이버 페이 구매자,NaN,시스템수집,NaN,5,호안석 골드 플렌티스톤,P0000BPL,\n\t맘에듭니나 친구꺼하나 더 구매합니다 ㅎ\n\n\t\t\t\t\n\t\t\t\...,0,,CAFE24,NaN,NaN,NaN,NaN,NaN,NaN
1103,1103,7320,24-12-10 19:30,홍성희,myaiqing,회원,20241206-0000419-01,3,팬텀골드 커플세트,P0000CHR,가볍게 여기저기 사용 가능한 제품이예요.,300,M/L,알파리뷰,NaN,NaN,NaN,NaN,NaN,NaN
1104,1104,7321,24-12-10 19:45,이난희,NaN,NPAY 비회원,20241207-0000043-01,5,리체 마제스톤 세트,P0000BPJ,만족할 만큼 좋은 상품이에요🌈 다른 분들에게도 꼭 추천하고 싶어요!! 감사합니다.,300,XXL,알파리뷰,NaN,NaN,NaN,NaN,NaN,NaN
1105,1105,7322,24-12-10 23:15,김영돈,3821698102@k,회원,20241206-0000218-01,5,호안석 갤러니티,P0000CGS,디자인이 예뻐서 구매했어요!,300,주문제작 (상담하기 또는 배송 메세지에 남겨주세요.),알파리뷰,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
dat[dat['빠른리뷰']==False]

,index,리뷰번호,리뷰작성일시,작성자명,작성자ID,작성자종류,주문번호,리뷰평점,상품명,상품코드,리뷰내용,지급완료적립금액,구매옵션,작성플랫폼,빠른리뷰,텍스트리뷰,포토리뷰,동영상리뷰,설문리뷰,SNS리뷰
1106,0,7323,24-12-11 06:06,☆찐이~☆,NaN,비회원,20241208-0000228-01,5,팬텀골드 커플세트,P0000CHR,너무 예뻐요~~,300,M/L,알파리뷰,False,True,False,False,False,False
1107,1,7324,24-12-11 10:06,조성희,3825824401@k,회원,20241208-0000490-02,5,자마노 레브스톤 4mm,P0000BLN,이쁘네요~ 너무 빨간 색이면 어쩌나 걱정했는데 그렇지 않아 정말 좋아요^^ 행운 가...,600,M,알파리뷰,False,True,False,False,False,False
1108,2,7325,24-12-11 19:57,김현정,NaN,NPAY 비회원,20241208-0000370-01,5,오닉스 디비니티 목걸이,P0000CGP,만족합니다~ 예쁘게 잘하고 다닐께요^^,600,Free,알파리뷰,False,True,False,False,False,False
1110,4,7327,24-12-12 16:23,이택환,3799679051@k,회원,20241120-0000096-01,5,블랙가드 마제스톤 세트,P0000BPH,진짜 너무 이뻐요!!!,1100,XL,알파리뷰,False,True,True,False,False,False
1111,5,7328,24-12-13 02:50,네이버 페이 구매자,NaN,시스템수집,NaN,5,호안오닉스 팬텀골드,P0000BWS,\n\t상당히 고급스러워요. 실수로 L사이즈 배송한것도 바로 조치하여 보내주시고 상...,0,,CAFE24,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2562,1456,8782,25-06-10 19:09,김채영,4249186231@k,회원,20250604-0000607-01,5,헤마타이트 비전스톤,P0000CHP,깔끔하고 여름에 잘 어울리는 팔찌네요👍🏻,600,사이즈=S,알파리뷰,False,True,False,False,False,False
2571,1465,8791,25-06-11 02:46,네이버 페이 구매자,NaN,시스템수집,NaN,4,화이트쉘 세레니아 체인 팔찌,P0000CMV,조아요조아요조아조아(2025-06-10 16:08:22 에 등록된 네이버 페이 구매평),0,NaN,CAFE24,False,True,False,False,False,False
2574,1468,8794,25-06-11 16:38,김민지,4294529825@k,회원,20250607-0000278-01,5,포에버 벌스스톤,P0000CLF,팔찌가 넘 이뻐요 자수정을 좋아하는터라 여름에 이쁘게 착용하고 다닐께욤 ㅎㅎ,1100,"옵션=2월 자수정, 사이즈=S",알파리뷰,False,True,True,False,False,False
2576,1470,8796,25-06-11 18:48,곽도현,4296158280@k,회원,20250608-0000197-01,5,아멘티 포르테스톤 세트,P0000BLR,심플하고 예뻐요~\n사이즈도 딱 맞네요!\n다른제품도 사고싶은 충동이 느껴지네요ㅎㅎ,1100,사이즈=M,알파리뷰,False,True,True,False,False,False
2577,1471,8797,25-06-11 19:15,유인숙,4272723739@k,회원,20250523-0000333-03,5,호안오닉스 팬텀골드,P0000BWS,남편이 사업을 하는데 좋은 기운 받으라고 손목에 채워줬어요~^^\n과하지않아서 좋아...,600,사이즈=XL,알파리뷰,False,True,False,False,False,False

In [109]:
check_bools(dat)

--------------------------------------------------
dtype: objects
--------------------------------------------------

'작성자종류'

{'회원': 1049, 'NPAY 비회원': 817, '시스템수집': 488, '비회원': 230, '관리자': 6}

'작성플랫폼'

{'알파리뷰': 2102, 'CAFE24': 488}

'빠른리뷰'

{nan: 1106, True: 823, False: 661}

'텍스트리뷰'

{nan: 1106, False: 823, True: 661}

'포토리뷰'

{False: 1284, nan: 1106, True: 200}

'동영상리뷰'

{False: 1484, nan: 1106}

'설문리뷰'

{False: 1484, nan: 1106}

'SNS리뷰'

{False: 1484, nan: 1106}

### output

In [110]:
dat = reviews
display(dat.head())
dat.info()

,index,리뷰번호,리뷰작성일시,작성자명,작성자ID,작성자종류,주문번호,리뷰평점,상품명,상품코드,리뷰내용,지급완료적립금액,구매옵션,작성플랫폼,빠른리뷰,텍스트리뷰,포토리뷰,동영상리뷰,설문리뷰,SNS리뷰
0,0,6219,24-06-11 19:05,엄기봉,NaN,NPAY 비회원,20240605-0000641-01,5,호안오닉스 가디언스톤,P0000CBM,만족할 만큼 좋은 상품이에요🍀 다른 분들에게도 꼭 추천하고 싶어요!! 감사합니다.,300,M,알파리뷰,NaN,NaN,NaN,NaN,NaN,NaN
1,1,6220,24-06-11 19:10,지훈,NaN,NPAY 비회원,20240604-0000149-01,5,호안오닉스 팬텀골드,P0000BWS,여친하고 커플로 하다 여친께 끊어져서 새로 구입했습니다 여친이 좋아했던 물건이라,1100,S,알파리뷰,NaN,NaN,NaN,NaN,NaN,NaN
2,2,6221,24-06-11 19:57,김호철,NaN,NPAY 비회원,20240604-0000695-01,5,호안오닉스 팬텀골드,P0000BWS,만족할 만큼 좋은 상품이에요👍 다른 분들에게도 꼭 추천하고 싶어요!! 감사합니다.,800,L,알파리뷰,NaN,NaN,NaN,NaN,NaN,NaN
3,3,6222,24-06-11 21:12,이혜원,3494307987@k,회원,20240523-0000230-03,5,호안오닉스 팬텀골드,P0000BWS,디자인이 예뻐서 구매했어요!,300,L,알파리뷰,NaN,NaN,NaN,NaN,NaN,NaN
4,4,6223,24-06-11 21:12,이혜원,3494307987@k,회원,20240523-0000230-01,5,쇼핑백,P0000BVU,여기저기 무난하게 잘 사용할 것 같아요! 🙂,0,size: 13.5 x 15 x 9(cm),알파리뷰,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2590 entries, 0 to 2589
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     2590 non-null   int64
 1   리뷰번호      2590 non-null   int64
 2   리뷰작성일시    2590 non-null   object
 3   작성자명      2590 non-null   object
 4   작성자ID     1368 non-null   object
 5   작성자종류     2590 non-null   object
 6   주문번호      2096 non-null   object
 7   리뷰평점      2590 non-null   int64
 8   상품명       2590 non-null   object
 9   상품코드      2590 non-null   object
 10  리뷰내용      2590 non-null   object
 11  지급완료적립금액  2590 non-null   int64
 12  구매옵션      2406 non-null   object
 13  작성플랫폼     2590 non-null   object
 14  빠른리뷰      1484 non-null   object
 15  텍스트리뷰     1484 non-null   object
 16  포토리뷰      1484 non-null   object
 17  동영상리뷰     1484 non-null   object
 18  설문리뷰      1484 non-null   object
 19  SNS리뷰     1484 non-null   object
dtypes: int64(4), object(16)
memory usage: 404.8+ KB

---

## promo

In [111]:
promo = promo_raw.copy()
dat = promo
display(dat.head())
dat.info()

,일시,프로모션 내용,증정 내용
0,2024. 05. 01. ~ 2024. 05. 31.,가정의 달 파워스톤 증정 이벤트,장식용 원석(돌) 3종 및 선물 패키지 증정
1,2024. 07. 12. ~ 2024. 07. 21.,파워스톤 증정 이벤트,장식용 원석(돌) 3종 및 선물 패키지 증정
2,2024. 09. 06. ~ 2024. 09. 18.,호안석 행운 키링 증정 이벤트,엔고르 키링 증정 및 선물 패키지 증정
3,2024. 09. 03 ~,전상품 무료 배송 시작,NaN
4,2024. 10. 11. ~ 2024. 10. 27.,커플 키링 증정 이벤트,"커플 세트 상품 구매 시, 커플 키링 세트(커플 키링 2종) 및 선물 패키지 증정"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   일시        15 non-null     object
 1   프로모션 내용   15 non-null     object
 2   증정 내용     12 non-null     object
dtypes: object(3)
memory usage: 492.0+ bytes

In [112]:
type_dict = {
    'category':['프로모션 내용 ','증정 내용']
}
clean_dat(dat, promo_raw, types=type_dict)

In [113]:
# 일시를 시작일과 종료일로 나눔
dat['일시'] = dat['일시'].replace({
    '2024.12 13. ~ 2024.12. 29.': '2024.12.13. ~ 2024.12.29.'
})
if '일시' in dat.columns:
    dat['시작일'] = pd.to_datetime(dat['일시'].str.split('~').str[0], format='mixed')
    dat['종료일'] = pd.to_datetime(dat['일시'].str.split('~').str[-1], format='mixed')
    dat.drop('일시', axis=1, inplace=True)
if '프로모션 내용 ' in dat.columns:
    dat.rename(columns={'프로모션 내용 ':'프로모션 내용'}, inplace=True)  # 이상한 컬럼명 변경
dat = promo = dat[['시작일','종료일','프로모션 내용','증정 내용']]

In [114]:
check_bools(dat)

### output

In [115]:
dat = promo
display(dat.head())
dat.info()

,시작일,종료일,프로모션 내용,증정 내용
0,2024-05-01,2024-05-31,가정의 달 파워스톤 증정 이벤트,장식용 원석(돌) 3종 및 선물 패키지 증정
1,2024-07-12,2024-07-21,파워스톤 증정 이벤트,장식용 원석(돌) 3종 및 선물 패키지 증정
2,2024-09-06,2024-09-18,호안석 행운 키링 증정 이벤트,엔고르 키링 증정 및 선물 패키지 증정
3,2024-09-03,NaT,전상품 무료 배송 시작,NaN
4,2024-10-11,2024-10-27,커플 키링 증정 이벤트,"커플 세트 상품 구매 시, 커플 키링 세트(커플 키링 2종) 및 선물 패키지 증정"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시작일      15 non-null     datetime64[ns]
 1   종료일      13 non-null     datetime64[ns]
 2   프로모션 내용  15 non-null     category
 3   증정 내용    12 non-null     category
dtypes: category(2), datetime64[ns](2)
memory usage: 1.4 KB

---

## sponsor_free

In [116]:
sponsor_free = sponsor_free_raw.copy()
dat = sponsor_free
display(dat.head())
dat.info()

,날짜,성함,상품명,옵션,인스타그램 계정,출고일,업로드 날짜,Unnamed: 7,Unnamed: 8
0,2023-10-27,권석원,아이아게이트 디오스톤,NaN,himnae1212(장그래),2023-10-27,2023. 10. 29,NaN,NaN
1,2023-10-27,장혜수,소달오닉스 블루스톤,NaN,zanghyesu,2023-10-27,2023. 11. 3,"240201 수선(줄늘어남), 사이즈 수선 S->M",NaN
2,2023-11-03,박민선,레브스톤 포르테스톤 세트,NaN,shoppingpingping_,2023-11-03,2023. 11. 10,NaN,NaN
3,2023-11-03,허선희,오닉스 포르테스톤 목걸이,NaN,shee0925,2023-11-03,2023. 11. 22,NaN,NaN
4,2023-11-27,박주연,레브스톤 포르테스톤 세트 4mm,NaN,gra.ce0122,2023-11-27,2023. 12. 3,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   날짜          65 non-null     object
 1   성함          65 non-null     object
 2   상품명         65 non-null     object
 3   옵션          2 non-null      object
 4   인스타그램 계정    65 non-null     object
 5   출고일         65 non-null     object
 6   업로드 날짜      8 non-null      object
 7   Unnamed: 7  5 non-null      object
 8   Unnamed: 8  1 non-null      object
dtypes: object(9)
memory usage: 4.7+ KB

In [117]:
dat['날짜'].unique(), dat['출고일'].unique(), dat['업로드 날짜'].unique()

(array(['2023-10-27', '2023-11-03', '2023-11-27', '2024-03-19',
        '2024-05-08', '2024-08-27', '2024-08-28', '2024-08-30',
        '2024-09-02', '2024-09-19', '2024-09-23', '2024-09-24',
        '2024-09-26', '2024-10-02', '2024.10.14', '2024.10.15',
        '2024.10.16', '2024.11.01', '2024.11.05', '2024.11.11',
        '2024.11.15', '2024.11.18', '2024.11.27', '2024.11.29',
        '2024.12.10', '2025.01.15', '2025.01.16', '2025.01.23',
        '2025.02.14', '2025.03.31', '2025.04.23', '2025.04.24',
        '2025.05.02', '2025-05-29'], dtype=object),
 array(['2023-10-27', '2023-11-03', '2023-11-27', '2024-03-20',
        '2024-05-09', '2024-08-27', '2024-08-28', '2024-08-29',
        '2024-08-30', '2024-09-03', '2024-09-23', '2024-09-24',
        '2024-09-26', '2024.10.8', '2024-10-16', '2024-10-18',
        '2024-10-17', '2024-11-05', '2024-11-21', '2024-11-20',
        '2024-11-19', '2024-11-28', '2024-12-03', '2024-12-10',
        '2024-12-11', '2025-01-16', '2025-01-23', '2025-01-24',
        '2025-01-31', '2025-02-14', '2025-02-18', '2025-03-31',
        '2025-04-23', '2025-05-08', '2025-06-02', '2025-05-30'],
       dtype=object),
 array(['2023. 10. 29', '2023. 11. 3', '2023. 11. 10', '2023. 11. 22',
        '2023. 12. 3', '2024. 3. 23', '2024. 5. 16', '2024. 5. 11', nan],
       dtype=object))

In [118]:
date_dict = {
    'mixed':['날짜','출고일','업로드 날짜'],
}
type_dict = {
    'category':['상품명','인스타그램 계정']
}
drop_ls = ['성함','Unnamed: 7', 'Unnamed: 8'] # 다른 데이터와 함께 보기위해 성함을 남겨야하는지 고민
clean_dat(dat, sponsor_free, dates=date_dict, types=type_dict, drop=drop_ls)

In [119]:
check_bools(dat)

--------------------------------------------------
dtype: objects
--------------------------------------------------

'옵션'

{nan: 63, '그린 S / 그린 L': 1, '반지: M/팔찌: XS\n반지: M/팔찌: XS': 1}

### output

In [120]:
dat = sponsor_free
display(dat.head())
dat.info()

          날짜                상품명   옵션           인스타그램 계정        출고일     업로드 날짜
0 2023-10-27        아이아게이트 디오스톤  NaN    himnae1212(장그래) 2023-10-27 2023-10-29
1 2023-10-27         소달오닉스 블루스톤  NaN          zanghyesu 2023-10-27 2023-11-03
2 2023-11-03      레브스톤 포르테스톤 세트  NaN  shoppingpingping_ 2023-11-03 2023-11-10
3 2023-11-03      오닉스 포르테스톤 목걸이  NaN           shee0925 2023-11-03 2023-11-22
4 2023-11-27  레브스톤 포르테스톤 세트 4mm  NaN         gra.ce0122 2023-11-27 2023-12-03

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   날짜        65 non-null     datetime64[ns]
 1   상품명       65 non-null     category
 2   옵션        2 non-null      object
 3   인스타그램 계정  65 non-null     category
 4   출고일       65 non-null     datetime64[ns]
 5   업로드 날짜    8 non-null      datetime64[ns]
dtypes: category(2), datetime64[ns](3), object(1)
memory usage: 7.3+ KB

---

## sponsor_paid

In [121]:
sponsor_paid = sponsor_paid_raw.copy()
dat = sponsor_paid
display(dat.head())
dat.info()

,모집기간,제품명,형식,피드URL,인스타 아이디,업로드\n마감일,업로드,업로드 날짜,파트너쉽\n제안,파트너쉽\n수락 여부
0,5/13 - 5/15,진주 오로라스톤 목걸이\n진주 오로라스톤 팔찌,릴스,https://www.instagram.com/reel/DKZP2nUT583/?ig...,1moon_sy,6/2,False,검수중,TRUE,False
1,5/13 - 5/15,진주 오로라스톤 목걸이\n진주 오로라스톤 팔찌,릴스,https://www.instagram.com/p/DKQjWlSTazq/?igsh=...,eun_doi,6/2,True,5/30,TRUE,True
2,5/13 - 5/15,진주 오로라스톤 목걸이\n진주 오로라스톤 팔찌,릴스,https://www.instagram.com/p/DKUKnhBh8Gh/?utm_s...,romilily_,6/2,True,6/12,TRUE,True
3,5/13 - 5/15,진주 오로라스톤 목걸이\n진주 오로라스톤 팔찌,릴스,https://www.instagram.com/reel/DKMynXupFzR/?ut...,00_haneul,6/2,True,5/29,TRUE,True
4,5/13 - 5/15,진주 오로라스톤 목걸이\n진주 오로라스톤 팔찌,릴스,https://www.instagram.com/reel/DKNCvWzSC2r/?ig...,__nj.in__,6/2,True,5/29,TRUE,True

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   모집기간        16 non-null     object
 1   제품명         16 non-null     object
 2   형식          16 non-null     object
 3   피드URL       8 non-null      object
 4   인스타 아이디     16 non-null     object
 5   업로드
마감일     16 non-null     object
 6   업로드         16 non-null     bool
 7   업로드 날짜      8 non-null      object
 8   파트너쉽
제안     16 non-null     object
 9   파트너쉽
수락 여부  16 non-null     bool
dtypes: bool(2), object(8)
memory usage: 1.2+ KB

In [122]:
# dat['업로드\n마감일'].unique()
dat['업로드 날짜'].unique()

array(['검수중', '5/30', '6/12', '5/29', nan], dtype=object)

In [123]:
dat['업로드 날짜'] = dat['업로드 날짜'].replace({
    '검수중': np.nan
})
for c in ['업로드\n마감일','업로드 날짜']: # datetime 형식으로 바꾸기 위해 연도 추가 
    dat[c] = dat[c].apply(lambda x:'2025/'+str(x) if type(x) == str else x)

In [124]:
if dat['파트너쉽\n제안'].dtype != bool:
    dat['파트너쉽\n제안'] = dat['파트너쉽\n제안'] == 'TRUE'
    dat['파트너쉽\n수락 여부'] = dat[['파트너쉽\n제안','파트너쉽\n수락 여부']].apply(lambda x: x['파트너쉽\n수락 여부'] if x['파트너쉽\n제안']==True else np.nan, axis=1)
    # 파트너쉽을 제안하지 않은 경우, 수락 여부 = nan

In [125]:
date_dict = {
    '%Y/%m/%d':['업로드\n마감일','업로드 날짜']
}
type_dict = {
    'category':['모집기간','제품명','인스타 아이디'] # 모집기간은 2종류 뿐이라 그냥 카테고리로 남김
}
drop_ls = ['형식'] # 릴스밖에 없어서 삭제
clean_dat(dat, sponsor_paid_raw, dates=date_dict, types=type_dict, drop=drop_ls)

In [126]:
dat.rename(columns=dict(zip(dat.columns.tolist(), [c.replace('\n', ' ') for c in dat.columns])), inplace=True) # 이상한 컬럼명 변경

In [127]:
check_bools(dat)

--------------------------------------------------
dtype: objects
--------------------------------------------------

'피드URL'

{nan: 8,
 'https://www.instagram.com/reel/DKZP2nUT583/?igsh=cXNoNXo0bHdmd3h3': 1,
 'https://www.instagram.com/p/DKQjWlSTazq/?igsh=OGxwY3BxcWgzcDA3&img_index=9': 1,
 'https://www.instagram.com/p/DKUKnhBh8Gh/?utm_source=ig_web_copy_link': 1,
 'https://www.instagram.com/reel/DKMynXupFzR/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==': 1,
 'https://www.instagram.com/reel/DKNCvWzSC2r/?igsh=ZDBveGwwOHFkNmI3': 1,
 'https://www.instagram.com/reel/DKqNcqJhu5r/?igsh=YzJyaGFqbmprdWN0': 1,
 'https://www.instagram.com/reel/DKMVa-Wyk7I/?igsh=NXdlcGwwdGJwZmlh': 1,
 'https://www.instagram.com/reel/DKcBplVT-AJ/?utm_source=ig_web_copy_link': 1}

'파트너쉽 수락 여부'

{nan: 8, True: 5, False: 3}

--------------------------------------------------
dtype: category
--------------------------------------------------

'모집기간'

{'5/13 - 5/15': 8, '5/29 - 6/1': 8}

'제품명'

{'진주 오로라스톤 목걸이\n진주 오로라스톤 팔찌': 5,
 '화이트쉘 세레니아 세트': 5,
 '자마노 루나스톤 목걸이': 3,
 '에버리치 위시스톤 (호안석)': 2,
 '그린오닉스 에덴스톤 목걸이\n그린오닉스 에덴스톤 팔찌': 1}

--------------------------------------------------
dtype: bool
--------------------------------------------------

'업로드'

{False: 9, True: 7}

'파트너쉽 제안'

{True: 8, False: 8}

### output

In [128]:
dat = sponsor_paid
display(dat.head())
dat.info()

,모집기간,제품명,피드URL,인스타 아이디,업로드 마감일,업로드,업로드 날짜,파트너쉽 제안,파트너쉽 수락 여부
0,5/13 - 5/15,진주 오로라스톤 목걸이\n진주 오로라스톤 팔찌,https://www.instagram.com/reel/DKZP2nUT583/?ig...,1moon_sy,2025-06-02,False,NaT,True,False
1,5/13 - 5/15,진주 오로라스톤 목걸이\n진주 오로라스톤 팔찌,https://www.instagram.com/p/DKQjWlSTazq/?igsh=...,eun_doi,2025-06-02,True,2025-05-30,True,True
2,5/13 - 5/15,진주 오로라스톤 목걸이\n진주 오로라스톤 팔찌,https://www.instagram.com/p/DKUKnhBh8Gh/?utm_s...,romilily_,2025-06-02,True,2025-06-12,True,True
3,5/13 - 5/15,진주 오로라스톤 목걸이\n진주 오로라스톤 팔찌,https://www.instagram.com/reel/DKMynXupFzR/?ut...,00_haneul,2025-06-02,True,2025-05-29,True,True
4,5/13 - 5/15,진주 오로라스톤 목걸이\n진주 오로라스톤 팔찌,https://www.instagram.com/reel/DKNCvWzSC2r/?ig...,__nj.in__,2025-06-02,True,2025-05-29,True,True

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   모집기간        16 non-null     category
 1   제품명         16 non-null     category
 2   피드URL       8 non-null      object
 3   인스타 아이디     16 non-null     category
 4   업로드 마감일     16 non-null     datetime64[ns]
 5   업로드         16 non-null     bool
 6   업로드 날짜      7 non-null      datetime64[ns]
 7   파트너쉽 제안     16 non-null     bool
 8   파트너쉽 수락 여부  8 non-null      object
dtypes: bool(2), category(3), datetime64[ns](2), object(2)
memory usage: 1.7+ KB

---

## bloggers

In [129]:
bloggers = bloggers_raw.copy()
dat = bloggers
display(dat.head())
dat.info()

,날짜,성함,닉네임,연락처,상품명,출고일,업로드 날짜,블로그,블로그 게시 링크,Unnamed: 9,Unnamed: 10
0,2023. 12. 4,정상희,포포니,010-6223-0609,흑요석 블랙가드스톤 XL,2023. 12. 5,2023. 12. 15,https://blog.naver.com/cutesheng,https://m.blog.naver.com/cutesheng/223294042451,NaN,NaN
1,2023. 12. 4,전상미,BOTA,010-2835-2466,터키석 수에르스톤 목걸이,2023. 12. 5,2023. 12. 14,https://blog.naver.com/ilovecoffeeandcat,https://m.blog.naver.com/ilovecoffeeandcat/223...,NaN,NaN
2,2023. 12. 4,박보미,고양이,010-3891-0617,터키석 수에르스톤 목걸이,2023. 12. 5,2023. 12. 6,https://blog.naver.com/angelababy88,https://m.blog.naver.com/angelababy88/22328450...,NaN,NaN
3,2023. 12. 4,최무늬,조이조이,010-6295-0045,흑요석 블랙가드스톤 S,2023. 12. 5,2023. 12. 15,https://blog.naver.com/minnie926,https://m.blog.naver.com/minnie926/223293122943,NaN,NaN
4,2023. 12. 4,임세희,포댕자몽,010-5273-1858,터키석 수에르스톤 목걸이,2023. 12. 5,2023. 12. 15,https://blog.naver.com/kcll_2010,https://blog.naver.com/kcll_2010/223293079328,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   날짜           80 non-null     object
 1   성함           85 non-null     object
 2   닉네임          82 non-null     object
 3   연락처          85 non-null     object
 4   상품명          85 non-null     object
 5   출고일          84 non-null     object
 6   업로드 날짜       55 non-null     object
 7   블로그          66 non-null     object
 8   블로그 게시 링크    76 non-null     object
 9   Unnamed: 9   1 non-null      object
 10  Unnamed: 10  1 non-null      object
dtypes: object(11)
memory usage: 7.4+ KB

In [130]:
dat[dat['출고일']=='5/12'] # 연도 확인

,날짜,성함,닉네임,연락처,상품명,출고일,업로드 날짜,블로그,블로그 게시 링크,Unnamed: 9,Unnamed: 10
70,2025. 5. 8,이소라,소라도라,010-2800-5089,포에버 벌스스톤 /7월 루비인조사이트/ M,5/12,NaN,NaN,NaN,NaN,NaN
71,2025. 5. 8,최윤서,또또또,010-9537-6485,에버리치 벌스스톤 /2월 자수정 / L,5/12,NaN,NaN,https://blog.naver.com/cuh0303/223866734064,NaN,NaN
72,2025. 5. 8,정은하,영쓰와은쓰,010-4805-8554,에버리치 벌스스톤 /5월 아벤츄린 /L,5/12,NaN,NaN,NaN,NaN,NaN
73,2025. 5. 8,이루다,루다루다리,010-9686-9713,에버리치 벌스스톤 / 2월 자수정 /M,5/12,NaN,NaN,https://m.blog.naver.com/wjddla9713/223869640792,NaN,NaN
74,2025. 5. 8,윤정희,아침햇살,010-6541-5009,포에버 벌스스톤 /2월 자수정 /S,5/12,NaN,NaN,https://blog.naver.com/toyou684/223866047295,NaN,NaN
75,2025. 5. 8,박진경,찡꽁꽁,010-3417-3426,에버리치 벌스스톤/9월 라피스라줄리/L,5/12,NaN,NaN,https://blog.naver.com/plusjink/223870230034,NaN,NaN
76,2025. 5. 8,이혜림,Duisid,010-5674-7641,에버리치 벌스스톤/11월 시트린 /S,5/12,NaN,NaN,https://m.blog.naver.com/lee_9911_kko/22386431...,NaN,NaN
77,2025. 5. 8,김남연,Nani,010-5400-0619,에버리치 벌스스톤/6월 진주 /S,5/12,NaN,NaN,https://m.blog.naver.com/namting80/223868046154,NaN,NaN
78,2025. 5. 8,앨리스,앨리스코코,010-5058-7429,에버리치 벌스스톤/9월 라피스라줄리/S,5/12,NaN,NaN,https://blog.naver.com/maymay123/223869960228,NaN,NaN
79,2025. 5. 8,김윤조,진선미,010-8825-7810,에버리치 벌스스톤/8월 페리도트/M,5/12,NaN,NaN,https://m.blog.naver.com/dbswh1025/223865711774,NaN,NaN

In [131]:
dat['출고일'] = dat['출고일'].replace({
    '미정': np.nan,
    '5/12': '2025. 5. 12' # 연도 추가
})

In [132]:
date_dict = {
    '%Y. %m. %d':['날짜','출고일','업로드 날짜']
}
type_dict = {
    'category':['성함','닉네임']  # 닉네임 없는 경우가 있어, 성함 남김
}
drop_ls = ['연락처','Unnamed: 9','Unnamed: 10']
clean_dat(dat, bloggers_raw, dates=date_dict, types=type_dict, drop=drop_ls)

In [133]:
check_bools(dat)

### output

In [134]:
dat = bloggers
display(dat.head())
dat.info()

,날짜,성함,닉네임,상품명,출고일,업로드 날짜,블로그,블로그 게시 링크
0,2023-12-04,정상희,포포니,흑요석 블랙가드스톤 XL,2023-12-05,2023-12-15,https://blog.naver.com/cutesheng,https://m.blog.naver.com/cutesheng/223294042451
1,2023-12-04,전상미,BOTA,터키석 수에르스톤 목걸이,2023-12-05,2023-12-14,https://blog.naver.com/ilovecoffeeandcat,https://m.blog.naver.com/ilovecoffeeandcat/223...
2,2023-12-04,박보미,고양이,터키석 수에르스톤 목걸이,2023-12-05,2023-12-06,https://blog.naver.com/angelababy88,https://m.blog.naver.com/angelababy88/22328450...
3,2023-12-04,최무늬,조이조이,흑요석 블랙가드스톤 S,2023-12-05,2023-12-15,https://blog.naver.com/minnie926,https://m.blog.naver.com/minnie926/223293122943
4,2023-12-04,임세희,포댕자몽,터키석 수에르스톤 목걸이,2023-12-05,2023-12-15,https://blog.naver.com/kcll_2010,https://blog.naver.com/kcll_2010/223293079328

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   날짜         80 non-null     datetime64[ns]
 1   성함         85 non-null     category
 2   닉네임        82 non-null     category
 3   상품명        85 non-null     object
 4   출고일        83 non-null     datetime64[ns]
 5   업로드 날짜     55 non-null     datetime64[ns]
 6   블로그        66 non-null     object
 7   블로그 게시 링크  76 non-null     object
dtypes: category(2), datetime64[ns](3), object(3)
memory usage: 9.6+ KB

---

# EDA

### orders 살펴보기

In [135]:
dat = orders
dat_fni = [c for c in dat.columns if dat[c].dtype != 'O']
dat_obj = [c for c in dat.columns if dat[c].dtype == 'O']
for c in dat_fni:
    display(dat[c].describe())
    print('-'*50)
print('\n'*2)
for c in dat_obj:
    cuv = dat[c].unique()
    if len(cuv) > 21:
        print(c)
        print(f"unique values: {len(cuv)}")
    else:
        display(dat[c].value_counts(dropna=0))
    print('-'*50) if c != dat_obj[-1] else 0

count   9582.00
mean    2466.22
std     1499.51
min        0.00
25%     1197.25
50%     2395.50
75%     3593.00
max     5615.00
Name: index, dtype: float64

--------------------------------------------------

count                             9582
mean     2024-12-30 21:57:55.870799616
min                2024-06-11 00:38:21
25%         2024-10-04 14:11:29.500000
50%                2025-01-07 08:46:50
75%                2025-04-01 07:25:53
max                2025-06-11 23:20:31
Name: order_datetime, dtype: object

--------------------------------------------------

count             3801
unique            2407
top       3498445797@k
freq                19
Name: customer_id, dtype: object

--------------------------------------------------

count     3801
unique       4
top       일반회원
freq      3706
Name: customer_membership_level, dtype: object

--------------------------------------------------

count     9582.00
mean     46871.79
std      18176.34
min          0.00
25%      39000.00
50%      42000.00
75%      49500.00
max     405000.00
Name: product_purchase_amount, dtype: float64

--------------------------------------------------

count     9579.00
mean     64987.63
std      36075.77
min          0.00
25%      39000.00
50%      50000.00
75%      78000.00
max     630000.00
Name: order_total_amount, dtype: float64

--------------------------------------------------

count     9582.00
mean     55794.55
std      40533.45
min          0.00
25%      38389.50
50%      45000.00
75%      76000.00
max     627000.00
Name: order_actual_amount_initial, dtype: float64

--------------------------------------------------

count     9582.00
mean     54399.66
std      41147.67
min          0.00
25%      37500.00
50%      45000.00
75%      76000.00
max     627000.00
Name: order_paid_amount, dtype: float64

--------------------------------------------------

count     9582.00
mean      1320.03
std       9001.44
min          0.00
25%          0.00
50%          0.00
75%          0.00
max     101000.00
Name: refund_amount, dtype: float64

--------------------------------------------------

count     9582.00
mean      1407.43
std       9273.90
min          0.00
25%          0.00
50%          0.00
75%          0.00
max     101000.00
Name: refund_total_amount, dtype: float64

--------------------------------------------------

count                              231
mean     2025-01-18 10:57:19.670995456
min                2024-06-17 08:22:59
25%         2024-10-22 23:55:37.500000
50%                2025-02-14 15:58:30
75%         2025-04-07 12:02:44.500000
max                2025-06-10 08:49:03
Name: refund_request_date, dtype: object

--------------------------------------------------

count                              231
mean     2025-01-18 13:06:28.160172800
min                2024-06-17 08:23:14
25%         2024-10-22 23:55:44.500000
50%                2025-02-14 16:23:09
75%                2025-04-07 12:02:48
max                2025-06-10 13:03:21
Name: refund_complete_date, dtype: object

--------------------------------------------------

count   9582.00
mean       1.02
std        0.19
min        0.00
25%        1.00
50%        1.00
75%        1.00
max        9.00
Name: quantity, dtype: float64

--------------------------------------------------

count                             3801
mean     2024-11-24 08:54:55.974743552
min                2022-12-16 00:00:00
25%                2024-09-11 00:00:00
50%                2024-12-20 00:00:00
75%                2025-03-17 00:00:00
max                2025-06-11 00:00:00
Name: customer_signup_date, dtype: object

--------------------------------------------------

count    9581.00
mean    28384.87
std     18131.53
min      1004.00
25%     12784.00
50%     25131.00
75%     44666.00
max     63644.00
Name: customer_postal_code, dtype: float64

--------------------------------------------------

count    2485.00
mean     3333.40
std      1628.01
min      3000.00
25%      3000.00
50%      3000.00
75%      3000.00
max     21900.00
Name: order_coupon_discount_amount, dtype: float64

--------------------------------------------------

count   9582.00
mean     446.46
std     1088.70
min        0.00
25%        0.00
50%        0.00
75%        0.00
max     6000.00
Name: shipping_fee_total, dtype: float64

--------------------------------------------------

count       9582
unique         4
top       네이버 페이
freq        4604
Name: order_channel, dtype: object

--------------------------------------------------

count     9582
unique       2
top        모바일
freq      8510
Name: order_platform, dtype: object

--------------------------------------------------

count       54
unique       3
top       고객변심
freq        44
Name: refund_type, dtype: object

--------------------------------------------------

count                             9450
mean     2024-12-30 21:32:09.965185280
min                2024-06-11 00:35:03
25%      2024-10-04 12:44:59.750000128
50%                2025-01-07 08:42:51
75%      2025-04-01 09:58:55.750000128
max                2025-06-11 23:16:54
Name: payment_datetime, dtype: object

--------------------------------------------------

count      9582
unique        2
top       False
freq       9450
Name: canceled, dtype: object

--------------------------------------------------

count      9582
unique        2
top       False
freq       9207
Name: mileage_use, dtype: object

--------------------------------------------------

count      9582
unique        2
top       False
freq       7124
Name: coupon_use, dtype: object

--------------------------------------------------

count     9582
unique       8
top       신용카드
freq      6906
Name: payment_method, dtype: object

--------------------------------------------------

count      9582
unique        2
top       False
freq       7138
Name: signup_coupon_used, dtype: object

--------------------------------------------------



product_option
unique values: 381
--------------------------------------------------
product_name_with_option
unique values: 930
--------------------------------------------------
order_number
unique values: 7789
--------------------------------------------------
order_item_number
unique values: 9582
--------------------------------------------------
product_name
unique values: 166
--------------------------------------------------
customer_address
unique values: 6564
--------------------------------------------------
customer_address_detail
unique values: 5481
--------------------------------------------------

coupon_name_used
NaN                           7097
회원가입 쿠폰                       2341
회원가입 쿠폰,6월 10% 할인 쿠폰            96
6월 10% 할인 쿠폰                    25
특별 할인 쿠폰                        13
회원가입 쿠폰,[특별쿠폰]6월 10% 할인 쿠폰       6
[특별쿠폰]6월 10% 할인 쿠폰               3
회원가입 쿠폰,VIP 특별 할인 쿠폰             1
Name: count, dtype: int64

--------------------------------------------------
buyer_phone
unique values: 3159
--------------------------------------------------
exchange_request_reason
unique values: 104
--------------------------------------------------
refund_reason
unique values: 65
--------------------------------------------------

coupon_name_used_etc
NaN                   9438
6월 10% 할인 쿠폰           121
특별 할인 쿠폰                13
[특별쿠폰]6월 10% 할인 쿠폰       9
VIP 특별 할인 쿠폰             1
Name: count, dtype: int64

In [136]:
orders.groupby('product_name').describe()

                index                                                          \
                count    mean     min     25%     50%     75%     max     std
product_name
가넷 델피니스톤        25.00 3467.40 1851.00 2887.00 3297.00 3832.00 5529.00 1120.51
가넷 아모레스톤        17.00 3548.71 1950.00 2820.00 3081.00 4331.00 5296.00 1103.40
갤러니티 레더체인 세트     4.00 1909.75  446.00  880.25 2053.50 3083.00 3086.00 1376.36
골드스모키 템페스톤     108.00 4118.17 3039.00 3544.00 4161.50 4517.00 5603.00  633.30
골드오닉스 다임스톤      37.00 1676.46  288.00  916.00 1405.00 2415.00 5527.00 1108.32
...               ...     ...     ...     ...     ...     ...     ...     ...
화이트쉘 아멘티스톤     131.00 3527.36   72.00 2251.50 4161.00 4905.50 5491.00 1669.82
화이트쉘 아멘티스톤 목걸이  25.00 1918.32  262.00  589.00 1618.00 2518.00 5104.00 1472.70
화이트쉘 클레어스톤 팔찌    5.00 5503.60 5425.00 5474.00 5475.00 5537.00 5607.00   70.14
흑요석 블랙가드스톤      62.00 2017.66   28.00  953.00 1790.00 2774.75 5511.00 1408.82
흑요석 큐어스톤        24.00 2039.38   29.00  537.50 1583.50 3171.75 5513.00 1691.66

               order_datetime                                 ...  \
                        count                           mean  ...
product_name                                                  ...
가넷 델피니스톤                   25  2025-04-06 17:10:22.240000256  ...
가넷 아모레스톤                   17  2025-04-09 07:02:38.470588416  ...
갤러니티 레더체인 세트                4  2024-12-04 07:17:34.750000128  ...
골드스모키 템페스톤                108  2025-04-27 19:04:05.703703552  ...
골드오닉스 다임스톤                 37  2024-09-27 19:36:42.594594816  ...
...                       ...                            ...  ...
화이트쉘 아멘티스톤                131  2025-03-10 15:33:39.763358464  ...
화이트쉘 아멘티스톤 목걸이             25  2024-12-10 06:44:52.279999744  ...
화이트쉘 클레어스톤 팔찌               5     2025-06-08 19:32:14.200000  ...
흑요석 블랙가드스톤                 62  2024-10-31 08:45:40.483871232  ...
흑요석 큐어스톤                   24  2024-11-24 10:28:36.791666688  ...

               shipping_fee_total         payment_datetime  \
                              max     std            count
product_name
가넷 델피니스톤                     0.00    0.00               24
가넷 아모레스톤                     0.00    0.00               17
갤러니티 레더체인 세트                 0.00    0.00                4
골드스모키 템페스톤                3000.00  288.68              105
골드오닉스 다임스톤                3000.00 1506.74               37
...                           ...     ...              ...
화이트쉘 아멘티스톤                3000.00  868.72              128
화이트쉘 아멘티스톤 목걸이            3000.00 1307.67               22
화이트쉘 클레어스톤 팔찌                0.00    0.00                5
흑요석 블랙가드스톤                3000.00 1492.45               62
흑요석 큐어스톤                  3000.00 1142.08               23

                                                                    \
                                         mean                  min
product_name
가넷 델피니스톤        2025-04-06 20:53:03.791666944  2025-02-12 10:36:33
가넷 아모레스톤        2025-04-09 07:01:23.764705792  2025-02-16 09:43:07
갤러니티 레더체인 세트    2024-12-04 07:17:34.750000128  2024-11-02 18:53:55
골드스모키 템페스톤      2025-04-27 19:19:43.980952320  2025-03-23 20:03:06
골드오닉스 다임스톤      2024-09-27 19:35:13.081081088  2024-06-27 23:05:00
...                                       ...                  ...
화이트쉘 아멘티스톤      2025-03-13 03:45:27.328124928  2024-06-17 10:46:25
화이트쉘 아멘티스톤 목걸이  2025-01-01 08:33:10.318181632  2024-06-27 03:56:09
화이트쉘 클레어스톤 팔찌   2025-06-08 19:33:54.799999744  2025-06-06 16:31:19
흑요석 블랙가드스톤      2024-10-31 09:31:05.725806592  2024-06-13 15:21:02
흑요석 큐어스톤        2024-11-27 20:37:40.173913344  2024-06-13 15:21:02

                                                                           \
                                          25%                         50%
product_name
가넷 델피니스톤           2025-03-16 20:35:42.500000         2025-04-02 10:22:41
가넷 아모레스톤                  2025-03-16 12:33:49         2025-03-25 16:48:57
갤러니티 레더체인 세트    2024-11-02 19:25:34.750000128         2024-11-29 09:24:16
골드스모키 템페스톤                2025-04-09 12:20:16         2025-04-29 22:16:18
골드오닉스 다임스톤                2024-08-04 04:31:25         2024-08-29 20:09:51
...                                       ...                         ...
화이트쉘 아멘티스톤                2025-01-17 01:39:26         2025-04-29 23:22:27
화이트쉘 아멘티스톤 목걸이  2024-09-30 17:48:44.750000128  2025-01-18 15:51:50.500000
화이트쉘 클레어스톤 팔찌             2025-06-07 20:13:22         2025-06-07 20:22:12
흑요석 블랙가드스톤      2024-08-07 19:21:50.750000128         2024-09-26 13:32:47
흑요석 큐어스톤                  2024-09-05 06:49:51         2024-11-21 22:06:49


                                          75%                  max  std
product_name
가넷 델피니스톤           2025-04-24 14:52:56.500000  2025-06-09 18:36:37  NaN
가넷 아모레스톤                  2025-05-04 12:41:30  2025-06-02 23:59:29  NaN
갤러니티 레더체인 세트              2024-12-30 21:16:16  2025-01-14 15:27:52  NaN
골드스모키 템페스톤                2025-05-10 00:41:16  2025-06-11 15:41:43  NaN
골드오닉스 다임스톤                2024-10-15 21:21:34  2025-06-09 18:20:54  NaN
...                                       ...                  ...  ...
화이트쉘 아멘티스톤      2025-05-21 03:50:38.750000128  2025-06-08 18:58:17  NaN
화이트쉘 아멘티스톤 목걸이            2025-03-16 17:00:41  2025-05-27 21:55:15  NaN
화이트쉘 클레어스톤 팔찌             2025-06-09 21:14:42  2025-06-11 19:27:59  NaN
흑요석 블랙가드스톤      2025-02-23 06:45:04.750000128  2025-06-08 20:50:06  NaN
흑요석 큐어스톤           2025-02-21 16:07:26.500000  2025-06-08 20:50:06  NaN

[166 rows x 128 columns]

In [137]:
f = orders['product_name'] == '[심명성님 개인결제창]'
orders[f]

Empty DataFrame
Columns: [index, order_datetime, customer_id, customer_membership_level, product_purchase_amount, order_total_amount, order_actual_amount_initial, order_paid_amount, refund_amount, refund_total_amount, refund_request_date, refund_complete_date, product_option, product_name_with_option, order_number, order_item_number, product_name, quantity, customer_signup_date, customer_address, customer_address_detail, customer_postal_code, coupon_name_used, order_coupon_discount_amount, shipping_fee_total, buyer_phone, order_channel, order_platform, exchange_request_reason, refund_reason, refund_type, payment_datetime, canceled, mileage_use, coupon_use, payment_method, signup_coupon_used, coupon_name_used_etc]
Index: []

[0 rows x 38 columns]

#### 심명성님은 누구인가

In [138]:
f = orders['product_name'] == '[심명성님 개인결제창]'
orders[f]

Empty DataFrame
Columns: [index, order_datetime, customer_id, customer_membership_level, product_purchase_amount, order_total_amount, order_actual_amount_initial, order_paid_amount, refund_amount, refund_total_amount, refund_request_date, refund_complete_date, product_option, product_name_with_option, order_number, order_item_number, product_name, quantity, customer_signup_date, customer_address, customer_address_detail, customer_postal_code, coupon_name_used, order_coupon_discount_amount, shipping_fee_total, buyer_phone, order_channel, order_platform, exchange_request_reason, refund_reason, refund_type, payment_datetime, canceled, mileage_use, coupon_use, payment_method, signup_coupon_used, coupon_name_used_etc]
Index: []

[0 rows x 38 columns]

In [139]:
f = users['customer_id'] == '3934758155@k'
users[f]

Empty DataFrame
Columns: [customer_id, customer_membership_level, customer_signup_date, signup_channel, last_order_date, total_order_count, actual_order_count, total_purchase_amount, actual_paid_amount, total_mileage, available_mileage, used_mileage, last_login_date, visit_count_annual, has_address_info]
Index: []

### 배송비는 어디갔지?

In [140]:
promo[promo['프로모션 내용'].str.contains('무료 배송')]

         시작일 종료일       프로모션 내용 증정 내용
3 2024-09-03 NaT  전상품 무료 배송 시작   NaN

In [141]:
f = orders['shipping_fee_total'] > 0
cols = ['order_datetime','order_item_number','order_number','order_total_amount','order_actual_amount_initial','order_paid_amount','shipping_fee_total','order_coupon_discount_amount','coupon_name_used','mileage_use','coupon_use']
orders[f][cols]

,order_datetime,order_item_number,order_number,order_total_amount,order_actual_amount_initial,order_paid_amount,shipping_fee_total,order_coupon_discount_amount,coupon_name_used,mileage_use,coupon_use
0,2024-06-11 00:38:21,20240611-0000040-01,20240611-0000040,45000.00,45000,45000.00,3000,NaN,NaN,False,False
1,2024-06-11 03:51:35,20240611-0000146-01,20240611-0000146,35000.00,32000,32000.00,3000,3000.00,회원가입 쿠폰,False,True
2,2024-06-11 06:05:01,20240611-0000158-01,20240611-0000158,41000.00,41000,41000.00,3000,NaN,NaN,False,False
3,2024-06-11 10:11:01,20240611-0000316-01,20240611-0000316,45000.00,45000,45000.00,3000,NaN,NaN,False,False
4,2024-06-11 10:19:10,20240611-0000321-01,20240611-0000321,52000.00,52000,52000.00,3000,NaN,NaN,False,False
...,...,...,...,...,...,...,...,...,...,...,...
9453,2025-06-08 13:47:44,20250608-0000098-01,20250608-0000098,68000.00,65000,65000.00,3000,3000.00,회원가입 쿠폰,False,True
9501,2025-06-09 20:20:53,20250609-0000377-01,20250609-0000377,87000.00,82080,82080.00,3000,9000.00,[특별쿠폰]6월 10% 할인 쿠폰,False,True
9502,2025-06-09 20:20:53,20250609-0000377-02,20250609-0000377,87000.00,82080,82080.00,3000,9000.00,[특별쿠폰]6월 10% 할인 쿠폰,False,True
9520,2025-06-10 06:56:40,20250610-0000104-01,20250610-0000104,44000.00,41000,41000.00,3000,3000.00,회원가입 쿠폰,False,True
9524,2025-06-09 20:20:53,20250609-0000377-03,20250609-0000377,87000.00,82080,82080.00,3000,9000.00,[특별쿠폰]6월 10% 할인 쿠폰,False,True

### 지난 프로젝트 관련 회원?

In [142]:
users

,customer_id,customer_membership_level,customer_signup_date,signup_channel,last_order_date,total_order_count,actual_order_count,total_purchase_amount,actual_paid_amount,total_mileage,available_mileage,used_mileage,last_login_date,visit_count_annual,has_address_info
0,keepgrow,일반회원,2022-04-28,PC,2022-04-28 13:54:23,2,0,37900,0.00,0.00,0.00,0.00,2022-04-28 13:55:45,0,False
1,2225322623@k,일반회원,2022-05-02,PC,NaT,0,0,0,0.00,0.00,0.00,0.00,2024-11-04 11:18:23,4,False
2,2227223106@k,일반회원,2022-05-03,모바일,NaT,0,0,0,0.00,0.00,0.00,0.00,2022-05-03 17:57:41,0,False
3,2227237644@k,일반회원,2022-05-03,모바일,NaT,0,0,0,0.00,0.00,0.00,0.00,2022-05-03 18:10:50,0,False
4,swh773,일반회원,2022-05-04,모바일,2022-05-04 01:25:00,1,1,59800,56800.00,598.00,598.00,0.00,2022-05-06 18:55:21,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8099,4300484235@k,일반회원,2025-06-11,모바일,2025-06-11 15:17:54,1,1,42000,39000.00,1520.00,1100.00,0.00,2025-06-14 09:29:32,8,False
8100,4300624406@k,일반회원,2025-06-11,모바일,NaT,0,0,0,0.00,0.00,0.00,0.00,2025-06-11 16:49:04,2,False
8101,4300966443@k,일반회원,2025-06-11,모바일,2025-06-11 21:01:14,1,1,68000,68000.00,680.00,0.00,0.00,2025-06-11 20:59:24,1,False
8102,4301046788@k,일반회원,2025-06-11,모바일,2025-06-11 22:25:15,1,1,68000,65000.00,980.00,300.00,0.00,2025-06-11 22:22:11,3,False
8103,4301105244@k,일반회원,2025-06-11,모바일,NaT,0,0,0,0.00,0.00,0.00,0.00,2025-06-11 22:41:37,2,False

In [143]:
f = users['visit_count_annual'] > 10
cols = ['customer_signup_date','visit_count_annual','actual_order_count']
users[f][cols]

     customer_signup_date  visit_count_annual  actual_order_count
675            2023-05-06                  11                   3
1339           2023-07-07                  12                   4
2555           2023-11-13                  14                   3
2652           2023-11-21                  19                   8
3446           2024-01-26                  11                   4
...                   ...                 ...                 ...
7647           2025-05-22                  14                   2
7659           2025-05-23                  17                   1
7750           2025-05-30                  15                   1
7768           2025-05-31                  13                   0
7989           2025-06-07                  13                   1

[77 rows x 3 columns]

### 주문 가장 많은 날

In [144]:
f = orders['order_datetime'] < pd.to_datetime('2024-09-03')
orders[f]

,index,order_datetime,customer_id,customer_membership_level,product_purchase_amount,order_total_amount,order_actual_amount_initial,order_paid_amount,refund_amount,refund_total_amount,...,exchange_request_reason,refund_reason,refund_type,payment_datetime,canceled,mileage_use,coupon_use,payment_method,signup_coupon_used,coupon_name_used_etc
0,0,2024-06-11 00:38:21,NaN,NaN,42000.00,45000.00,45000,45000.00,0.00,0.00,...,NaN,NaN,NaN,2024-06-11 00:35:03,False,False,False,신용카드,False,NaN
1,1,2024-06-11 03:51:35,yoonseo,일반회원,32000.00,35000.00,32000,32000.00,0.00,0.00,...,NaN,NaN,NaN,2024-06-11 17:52:34,False,False,True,무통장입금,True,NaN
2,2,2024-06-11 06:05:01,NaN,NaN,38000.00,41000.00,41000,41000.00,0.00,0.00,...,NaN,NaN,NaN,2024-06-11 06:04:56,False,False,False,신용카드,False,NaN
3,3,2024-06-11 10:11:01,NaN,NaN,42000.00,45000.00,45000,45000.00,0.00,0.00,...,NaN,NaN,NaN,2024-06-11 10:10:31,False,False,False,신용카드,False,NaN
4,4,2024-06-11 10:19:10,NaN,NaN,49000.00,52000.00,52000,52000.00,0.00,0.00,...,NaN,안녕하세요. 제품 잘 받었읍니다. 그런데 제품 이여줌 자석이 약했어 사용중 분실이 ...,NaN,2024-06-11 10:14:42,False,False,False,신용카드,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1503,1503,2024-09-02 21:26:37,3689594813@k,일반회원,1000.00,40000.00,37000,37000.00,0.00,0.00,...,NaN,NaN,NaN,2024-09-02 21:32:31,False,False,True,무통장입금,True,NaN
1504,1504,2024-09-02 21:26:37,3689594813@k,일반회원,39000.00,40000.00,37000,37000.00,0.00,0.00,...,NaN,NaN,NaN,2024-09-02 21:32:31,False,False,True,무통장입금,True,NaN
1505,1505,2024-09-02 23:01:14,NaN,NaN,45000.00,45000.00,45000,45000.00,0.00,0.00,...,NaN,NaN,NaN,2024-09-02 22:58:44,False,False,False,신용카드,False,NaN
1515,1515,2024-08-28 00:33:24,NaN,NaN,39000.00,39000.00,39000,39000.00,0.00,0.00,...,NaN,NaN,NaN,2024-08-28 00:31:21,False,False,False,신용카드,False,NaN
1567,1567,2024-08-30 22:46:36,NaN,NaN,45000.00,45000.00,0,0.00,0.00,0.00,...,NaN,NaN,NaN,2024-08-30 22:42:43,False,False,False,선불금,False,NaN

In [145]:
orders['order_date'] = orders['order_datetime'].dt.normalize()

In [146]:
orders.order_number

0       20240611-0000040
1       20240611-0000146
2       20240611-0000158
3       20240611-0000316
4       20240611-0000321
              ...
9578    20250611-0000353
9579    20250611-0000389
9580    20250611-0000396
9581    20250611-0000409
9582    20250611-0000409
Name: order_number, Length: 9582, dtype: object

In [147]:
orders.groupby('order_date').count()['order_number'].sort_values(ascending=0)

order_date
2025-04-13    59
2025-05-02    56
2025-03-16    54
2025-05-27    54
2025-05-11    49
              ..
2024-06-12     8
2024-08-22     8
2024-06-20     7
2024-07-04     7
2024-07-20     6
Name: order_number, Length: 366, dtype: int64

### 원석별 제품

In [148]:
f = orders['order_date'] == '2025-04-13'
orders[f]['product_name'].value_counts()

product_name
자마노 아가페스톤            10
팬텀골드 커플세트             4
아가페스톤 커플세트            4
에버리치 위시스톤             4
플렌티스톤 커플세트            3
골드스모키 템페스톤            3
쇼핑백                   3
루틸쿼츠 에포나스톤            2
카네스톤 커플세트             2
에버리치 벌스스톤             2
포에버 벌스스톤              2
호안석 골드 플렌티스톤          1
럭키피쉬 오픈링              1
아벤츄린 밸런스톤             1
하울오닉스 시엘스톤            1
페리스톤 커플세트             1
마레스톤 커플세트             1
호안오닉스 가디언스톤           1
골드자마노 루미나스톤           1
호안오닉스 스테디스톤           1
하울오닉스 블루머스크           1
레브스톤 포르테스톤 세트 4mm     1
레브 윈스톤 세트 4mm         1
화이트쉘 아멘티스톤            1
오닉스 아가페스톤             1
호안석 델피니스톤             1
헤마타이트 비전스톤            1
호안오닉스 팬텀골드            1
터키오닉스 니케스톤            1
말라카이트 마레스톤            1
자마노 레브스톤 4mm          1
Name: count, dtype: int64

In [149]:
f = products['product_name'].str.contains('자마노')
products[f]

,product_added_date,product_code,product_name,price,option_enabled,option_value,cart_count,purchase_count,is_displayed,product_id,...,42,149,193,178,189,154,160,148,133,155
0,2025-06-05,P0000CNM,자마노 라엘스톤 팔찌,41000,True,팔찌 사이즈{XS|S|M|L|XL|맞춤제작(문의하기 또는 배송메세지에 입력)},8,2,True,1702,...,True,True,False,False,False,False,False,False,False,False
1,2025-06-04,P0000CNL,자마노 구스토스톤 팔찌,42000,True,팔찌 사이즈{XS|S|M|L|XL|맞춤제작(문의하기 또는 배송메세지에 입력)},12,4,True,1701,...,True,True,False,False,False,False,False,False,False,False
9,2025-05-23,P0000CNC,자마노 아가페스톤 세트,59000,True,반지 사이즈{S (둘레 약 5.5cm)|M (둘레 약 6.0cm)}//팔찌 사이즈{...,34,5,True,1692,...,True,False,True,False,False,False,False,False,False,False
10,2025-05-23,P0000CNB,자마노 베르데 체인 팔찌,49000,True,사이즈{FREE|맞춤제작(문의하기 또는 배송메세지에 입력)},8,3,True,1691,...,True,True,False,False,False,False,False,False,False,False
19,2025-05-21,P0000CMS,자마노 아가페 케어링,28000,True,사이즈{S (둘레 약 5.5cm)|M (둘레 약 6.0cm)},8,4,True,1682,...,True,False,False,True,False,False,False,False,False,False
23,2025-05-16,P0000CMO,자마노 루나스톤 세트,69000,True,목걸이 사이즈{S|M|L|맞춤 제작 (상담하기 또는 배송메세지에 기재)}//팔찌 사...,6,2,True,1678,...,True,False,True,False,False,False,False,False,False,False
27,2025-05-14,P0000CMK,레드자마노 볼 귀걸이,36000,True,사이즈{Free},1,1,True,1674,...,True,False,False,False,True,False,False,False,False,False
35,2025-04-25,P0000CLQ,자마노 루나스톤 목걸이,49000,True,사이즈{S|M|L|맞춤 제작(상담하기 또는 배송메세지에 기재)},2,3,True,1654,...,True,False,False,False,False,True,False,False,False,False
40,2025-04-25,P0000CLK,자마노 루나스톤 팔찌,38000,True,사이즈{XS|S|M|L|XL|주문제작 (상담하기 또는 배송메세지에 기재)},27,8,True,1648,...,True,True,False,False,False,False,False,False,False,False
59,2024-02-28,P0000BXS,골드자마노 스칼렛스톤,42000,True,사이즈{S|M|L|XL|주문제작 (상담하기 또는 배송 메시지에 남겨주세요.)},0,3,False,1292,...,True,True,False,False,False,False,False,False,True,False
60,2024-02-28,P0000BXR,골드자마노 루미나스톤,45000,True,사이즈{S|M|L|XL|주문제작 (상담하기 또는 배송 메시지에 남겨주세요.)},8,49,True,1291,...,True,True,False,False,False,False,False,False,True,False
61,2024-02-28,P0000BXP,골드자마노 글로우스톤,45000,True,사이즈{S|M|L|XL|주문제작 (상담하기 또는 배송 메시지에 남겨주세요.)},0,29,True,1289,...,True,True,False,False,False,False,False,False,True,False
64,2024-02-28,P0000BXJ,자마노 레드블리스,45000,True,사이즈{Free|주문제작 (상담하기 또는 배송 메시지에 남겨주세요.)},2,14,True,1283,...,True,False,False,False,False,True,False,False,True,False
79,2024-02-23,P0000BVZ,자마노 블레이즈,39000,True,사이즈{S|M|L|XL|주문제작 (상담하기 또는 배송 메시지에 남겨주세요.)},4,32,True,1247,...,True,True,False,False,False,False,False,False,False,False
89,2023-11-06,P0000BQN,자마노 크리스탈 블리스 키링,35000,False,NaN,1,28,True,1105,...,True,False,False,False,False,False,True,False,False,False
90,2023-10-31,P0000BQL,자마노 레브스톤 목걸이,43000,True,사이즈{Free|주문제작 (상담하기 또는 배송 메시지에 남겨주세요.)},10,60,True,1103,...,True,False,False,False,False,True,False,False,False,False
109,2023-10-18,P0000BOX,자마노 레브스톤 체인,45000,True,사이즈{Free|주문제작 (상담하기 또는 배송 메시지에 남겨주세요.)},9,49,True,1063,...,True,True,False,False,False,False,False,False,False,False

In [150]:
f1 = products['is_displayed']
f2 = products['is_on_sale']
ingredients = ['자마노','화이트쉘','오닉스','터키','흑요석','호안','진주','아쿠아마린','페리도트','아벤츄린','아이아게이트','벌스스톤']
dat = products[f1&f2][['product_code','product_name','price','cart_count','purchase_count']]
for i in ingredients:
    dat[i] = dat['product_name'].apply(
        lambda x: i in x
    )

In [151]:
cols = [c for c in dat.columns if c not in ingredients]
dat[~dat[ingredients].any(axis=1)][cols]

    product_code    product_name  price  cart_count  purchase_count
5       P0000CNH    골드브라운 펠로라 세트  59000           4               2
12      P0000CMZ     골드 오르피쉬 가드링  36000           9               1
13      P0000CMY   골드브라운 펠로라 가드링  33000           1               0
15      P0000CMW    골드브라운 펠로라 팔찌  45000           6               0
45      P0000CLE       에버리치 위시스톤  41000          66              36
46      P0000CLD        럭키피쉬 오픈링  29000          55              16
47      P0000CKX      골드스모키 템페스톤  42000         212             100
49      P0000CGU    갤러니티 레더체인 세트  58000           0               4
50      P0000CGT      리코체인 레더스트랩  37000           0               0
58      P0000BXT     크레센도 마사지 스톤  29000           0               8
71      P0000BWQ    블랙크리스탈 다크아우라  35000           0              20
83      P0000BVU             쇼핑백   1000          42             449
85      P0000BQR    테라헤르츠 아우라 키링  39000           2              31
86      P0000BQQ      하울라이트 젠 키링  35000           1              15
88      P0000BQO  로즈 크리스탈 아무르 키링  35000           1              18
99      P0000BPK      디펜 마제스톤 세트  49000           1              39
100     P0000BPJ      리체 마제스톤 세트  49500           3             225
101     P0000BPI     인텔리 마제스톤 세트  49500           1              80
102     P0000BPH    블랙가드 마제스톤 세트  49500           3             145
105     P0000BPE     소달라이트 인텔리스톤  39000           2             122
111     P0000BND    아멘티 이터널스톤 세트  49500          11             105
114     P0000BLR    아멘티 포르테스톤 세트  49000           3             107

In [152]:
orders[['customer_address','customer_address_detail']]

                             customer_address customer_address_detail
0                서울특별시 종로구 세검정로7나길 28-2 (신영동)                    302호
1               경기 수원시 팔달구 권선로 731 삼부르네상스오피스텔                    1013
2     경기 안양시 만안구 삼덕로63번길 32 (안양동, 수리산성원상떼빌2차)              604동 2001호
3                   제주특별자치도 제주시 용담로 19 (용담삼동)                   준바닥철거
4          서울특별시 성북구 돌곶이로8길 22 (석관동, 래미안아트리치)           아파트 109동 304호
...                                       ...                     ...
9578         경기도 남양주시 별내4로 63 (별내동, 별내 신일유토빌)               3402-1602
9579               경기도 고양시 덕양구 대덕산로 123 (덕은동)        중흥 S 클라스 102-903
9580   충청남도 태안군 태안읍 군청10길 14 (태안읍, 진흥더블파크아파트)              104동 1404호
9581                경기도 부천시 원미로155번길 28 (원미동)         SK더프라임아파트 1102호
9582                경기도 부천시 원미로155번길 28 (원미동)         SK더프라임아파트 1102호

[9582 rows x 2 columns]

In [153]:
from sqlalchemy import create_engine

In [154]:
tablename = 'users'
user, pw= 'root', 'quiet547!'
database = 'final_project_2'

uri = f'mysql+pymysql://{user}:{pw}@localhost:3306/{database}'
engine = create_engine(uri)

users.to_sql(name='users', con = engine, index=False, if_exists='replace') # if_exist: 해당 데이터 존재할 경우 처리하는 방식 정해줌
orders.to_sql(name='orders', con = engine, index=False, if_exists='replace') # if_exist: 해당 데이터 존재할 경우 처리하는 방식 정해줌
products.to_sql(name='products', con = engine, index=False, if_exists='replace') # if_exist: 해당 데이터 존재할 경우 처리하는 방식 정해줌
reviews.to_sql(name='reviews', con = engine, index=False, if_exists='replace') # if_exist: 해당 데이터 존재할 경우 처리하는 방식 정해줌
promo.to_sql(name='promo', con = engine, index=False, if_exists='replace') # if_exist: 해당 데이터 존재할 경우 처리하는 방식 정해줌
sponsor_free.to_sql(name='sponsor_free', con = engine, index=False, if_exists='replace') # if_exist: 해당 데이터 존재할 경우 처리하는 방식 정해줌
sponsor_paid.to_sql(name='sponsor_paid', con = engine, index=False, if_exists='replace') # if_exist: 해당 데이터 존재할 경우 처리하는 방식 정해줌
bloggers.to_sql(name='bloggers', con = engine, index=False, if_exists='replace') # if_exist: 해당 데이터 존재할 경우 처리하는 방식 정해줌
looker_studio.to_sql(name='looker_studio', con = engine, index=False, if_exists='replace') # if_exist: 해당 데이터 존재할 경우 처리하는 방식 정해줌

85